<h2>{{name}}</h2>

<! –– boton para cargar y boton 'Loading' que lo reemplaza mientras carga ––>

<button class="btn btn-dark" *ngIf="loadingData;else getButton" type="button" name="button">Loading
  <span >
    <span class="spinner-border spinner-border-sm text-light" role="status">
      <span class="sr-only">Loading...</span>
    </span>
  </span>
</button>

<ng-template #getButton>
  <button class="btn btn-dark" type="button" name="button" (click)="getData()">Get Json Object</button>
</ng-template>
<br>


<! –– mensaje de error ––>

<div *ngIf="requestError" class="padded10">
    <p>An error has ocurred</p>
    <span class="badge badge-secondary">{{errorData}}</span>
</div>

<! –– Tabla con datos, solo se muestra cuando se han cargado datos ––>

<div  *ngIf="showTable">
  <table id="dataTable"  class="table table-dark table-bordered">
    <thead>
      <tr>
       <th>N°</th><th>Number</th><th>Quantity</th><th>First Position</th><th>Last Position</th>
      </tr>
    </thead>
    <tbody >
        <tr       *ngFor="let uData of nData; index as i; first as f, last as l"
                [class.grayRow]="uData.count<1"
                [class.yellowRow]="uData.count==1"
                [class.greenRow]="uData.count>1"
        >
          <td>{{i+1}}</td>
          <td>{{uData.value}}</td>
          <td>{{uData.count}}</td>
          <td>{{uData.firstIndex}}</td>
          <td>{{uData.lastIndex}}</td>
        </tr>
    </tbody>
  </table>

<! –– Text Box con numeros ordenados de forma creciente ––>

  <label for="listadoNumerico">Received Numbers</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Incremental order</span>
    </div>
    <input disabled type="text" class="form-control" id="listadoNumerico"  value="{{stringData}}">
  </div>

</div>
