

<div class="masthead" role="main">
      <div class="container-fluid h-100">
          <div class="row">
            <! –– tab superior dentro de la primera fila ––>

            <div class="titleDiv bg-dark shadow-lg col-xs-12 col-sm-12	col-md-12	col-lg-12">
                <app-uppertab [title]="title"></app-uppertab>
            </div>
          </div>
          <div class="row secondRow">
            <! –– fila de contenido ––>
            <div class="contentDiv col-xs-12	col-sm-12	col-md-12	col-lg-12">
                <div class="padded10 contentSection">
                  <router-outlet></router-outlet>
                </div>
            </div>
          </div>
      </div>

</div>
