<! –– Tab superior de titulo y links para vistas 1 y 2 ––>

<nav class="fullwidth navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="list-group-item list-group-item-action list-group-item-dark " id="list-home-list" data-toggle="list" routerLink="/view1" routerLinkActive="active" role="tab" >View 1</a>
      </li>
      <li class="nav-item">
        <a class="list-group-item list-group-item-action list-group-item-dark" id="list-profile-list" data-toggle="list" routerLink="/view2" routerLinkActive="active" role="tab" >View 2</a>
      </li>

    </ul>
  </div>
</nav>
