<h2>{{name}}</h2>

<! –– boton para cargar y boton 'Loading' que lo reemplaza mientras carga ––>

 <button class="btn btn-dark" *ngIf="loadingData;else getButton" type="button" name="button">Loading
   <span >
     <span class="spinner-border spinner-border-sm text-light" role="status">
       <span class="sr-only">Loading...</span>
     </span>
   </span>
 </button>

 <ng-template #getButton>
   <button class="btn btn-dark" type="button" name="button"
    (click)="getData()">Get Json Object</button>
 </ng-template>
 <br>

 <! –– mensaje de error ––>

 <div *ngIf="requestError" class="padded10">
     <p>An error has ocurred</p>
     <span class="badge badge-secondary">{{errorData}}</span>
 </div>

 <! –– Tabla con datos, solo se muestra cuando se han cargado datos ––>

 <div  *ngIf="showTable">
   <table id="dataTable"  class="table  table-dark table-bordered  table-striped">
     <thead>
       <tr>
        <th>N°</th>
         <! –– genera encabezados por letra ––>
        <th *ngFor="let thisIndex of tableIndex">
          {{thisIndex}}
        </th>
        <th>Suma Numeros Contenidos</th>
       </tr>
     </thead>
     <tbody>
         <tr       *ngFor="let uData of nData; index as i; first as f, last as l" >
           <td>{{i+1}}</td>
            <! –– imprime numero de cada letra + suma numerica ––>
           <td *ngFor="let itemData of uData;">{{itemData}}</td>
         </tr>
     </tbody>
   </table>
 </div>
