/* You can add global styles to this file, and also import other style files */


body{
  background-color: #444444;
}

.titleDiv{
  color: #F0F0F0;
  width: 100%;
}


.container-fluid {
  background-color: green;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.secondRow{
  flex-grow: 1;
}


.contentDiv{
  color: #F0F0F0;
  background-color: #444444;
}


.padded10{
  padding:10px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.fullwidth{
  width: 100%;
}

/*
Colores para tablas
*/
.grayRow{
  background-color: #606060 !important;
}

.greenRow{
  background-color: #0B6623 !important;
}

.yellowRow{
  background-color: #FEE12B !important;
  color:#303030;
}
